# Django Backend API URL
# For local development:
# NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
# For production (deployed backend):
NEXT_PUBLIC_API_URL=https://movie-recommendation-api-6kmu.onrender.com/api/v1 